<div class="flex items-center justify-center py-5">
  <img src="/img/cats/catwhitatie.svg" alt="MrPan" onclick="window.location.href = '/'" class="cursor-pointer w-28">
</div>
<div class="bg-white rounded-2xl p-5 shadow-xl">
  <h2><strong>About Us</strong></h2>
  <p>We are a team of web designers and developers working on various web projects.</p>
  <p>You can hire us for small or complex projects with Drupal or Wordpress.</p>
  <p> If you are intrested to buy this domain and/or this script contact us through our customer support bot on Telegram.</p>
  <p><span style="font-weight: 400;">@mrpanmebot</span></p>
</div>