<div class="flex items-center justify-center py-5">
  <img src="/img/cats/catwhitatie.svg" alt="MrPan" onclick="window.location.href = '/'" class="cursor-pointer w-28">
</div>
<div class="bg-white rounded-2xl p-5 shadow-xl">
  <p class="mb-3">Contact us</p>
  <p class="mb-3">You can contact us through our Twitter page <a href="https://twitter.com/MrPanme" class="text-primary-500">@MrPanme</a></p>
  <p class="mb-3">Or you can directly send an email to <a href="mailto:mrpanme@gmail.com" class="text-primary-500">mrpanme@gmail.com</a></p>
</div>