<div class="flex items-center justify-center py-5">
  <img src="/img/cats/catwhitatie.svg" alt="MrPan" onclick="window.location.href = '/'" class="cursor-pointer w-28">
</div>
<div class="bg-white rounded-2xl p-5 shadow-xl">
  <h2><strong>Cookie Policy</strong></h2>
  <p><span style="font-weight: 400;">This is the Cookie Policy for Mr. Pan, accessible from https://MrPan.me</span></p>
  <p><span style="font-weight: 400;">What Are Cookies</span></p>
  <p><span style="font-weight: 400;">As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it, and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the site's functionality.</span></p>
  <p><span style="font-weight: 400;">For more general information on cookies, please read </span><a href="https://www.cookieconsent.com/what-are-cookies/"><span style="font-weight: 400;">"What Are Cookies"</span></a><span style="font-weight: 400;">.</span></p>
  <p><span style="font-weight: 400;">How We Use Cookies</span></p>
  <p><span style="font-weight: 400;">We use cookies for a variety of reasons detailed below. Unfortunately, in most cases, there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on, all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</span></p>
  <p><span style="font-weight: 400;">Disabling Cookies</span></p>
  <p><span style="font-weight: 400;">You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of this site. Therefore it is recommended that you do not disable cookies.</span></p>
  <p><span style="font-weight: 400;">The Cookies We Set</span></p>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Account related cookies</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">If you create an account with us then we will use cookies for the management of the signup process and general administration. These cookies will usually be deleted when you log out however in some cases they may remain afterward to remember your site preferences when logged out.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Login related cookies</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log in every single time you visit a new page. These cookies are typically removed or cleared when you log out to ensure that you can only access restricted features and areas when logged in.</span></li>
  </ul>
  <p><span style="font-weight: 400;">Third-Party Cookies</span></p>
  <p><span style="font-weight: 400;">In some special cases, we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.</span></p>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">This site uses Google Analytics which is one of the most widespread and trusted analytics solutions on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">For more information on Google Analytics cookies, see the official Google Analytics page.</span></li>
  </ul>
  <p><span style="font-weight: 400;">More Information</span></p>
  <p><span style="font-weight: 400;">Hopefully, that has clarified things for you, and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site.</span></p>
  <p><span style="font-weight: 400;">However, if you are still looking for more information then you can contact us using the information below.</span></p>
  <p><span style="font-weight: 400;">Contact us through our support bot on Telegram:</span></p>
  <p><span style="font-weight: 400;">@mrpanmebot</span></p>
</div>