<div>
  <div class="w-7/12 mx-auto text-center text-2xl md:text-4xl text-white uppercase tracking-wide mb-5 md:mb-10 font-bold">My top frinds on Twitter</div>
  <div class="flex items-center justify-center relative h-72 md:h-96 mb-3 md:mb-10">
    <div class="w-28 h-28 md:w-32 md:h-32 bg-white rounded-full absolute z-10"><img src="/img/cats/mrpan.svg" class="w-full h-full rounded-full"></div>
    <div class="flex justify-start items-center transform w-72 md:w-96 absolute rotate-0">
      <div class="bg-white w-16 h-16 rounded-full z-10"><img src="/img/cats/1.svg" class="w-full h-full rounded-full transform"></div>
      <div class="absolute w-40 md:w-64 h-1 border-t-2 border-dashed border-white"></div>
    </div>
    <div class="flex justify-start items-center transform w-72 md:w-96 absolute rotate-45">
      <div class="bg-white w-16 h-16 rounded-full z-10"><img src="/img/cats/2.svg" class="w-full h-full rounded-full transform -rotate-45"></div>
      <div class="absolute w-40 md:w-64 h-1 border-t-2 border-dashed border-white"></div>
    </div>
    <div class="flex justify-start items-center transform w-72 md:w-96 absolute rotate-90">
      <div class="bg-white w-16 h-16 rounded-full z-10"><img src="/img/cats/3.svg" class="w-full h-full rounded-full transform -rotate-90"></div>
      <div class="absolute w-40 md:w-64 h-1 border-t-2 border-dashed border-white"></div>
    </div>
    <div class="flex justify-start items-center transform w-72 md:w-96 absolute rotate-135">
      <div class="bg-white w-16 h-16 rounded-full z-10"><img src="/img/cats/4.svg" class="w-full h-full rounded-full transform -rotate-135"></div>
      <div class="absolute w-40 md:w-64 h-1 border-t-2 border-dashed border-white"></div>
    </div>
    <div class="flex justify-start items-center transform w-72 md:w-96 absolute rotate-180">
      <div class="bg-white w-16 h-16 rounded-full z-10"><img src="/img/cats/5.svg" class="w-full h-full rounded-full transform -rotate-180"></div>
      <div class="absolute w-40 md:w-64 h-1 border-t-2 border-dashed border-white"></div>
    </div>
    <div class="flex justify-start items-center transform w-72 md:w-96 absolute rotate-225">
      <div class="bg-white w-16 h-16 rounded-full z-10"><img src="/img/cats/6.svg" class="w-full h-full rounded-full transform -rotate-225"></div>
      <div class="absolute w-40 md:w-64 h-1 border-t-2 border-dashed border-white"></div>
    </div>
    <div class="flex justify-start items-center transform w-72 md:w-96 absolute rotate-270">
      <div class="bg-white w-16 h-16 rounded-full z-10"><img src="/img/cats/7.svg" class="w-full h-full rounded-full transform -rotate-270"></div>
      <div class="absolute w-40 md:w-64 h-1 border-t-2 border-dashed border-white"></div>
    </div>
    <div class="flex justify-start items-center transform w-72 md:w-96 absolute rotate-315">
      <div class="bg-white w-16 h-16 rounded-full z-10"><img src="/img/cats/8.svg" class="w-full h-full rounded-full transform -rotate-315"></div>
      <div class="absolute w-40 md:w-64 h-1 border-t-2 border-dashed border-white"></div>
    </div>
  </div>
  <div class="font-bold text-xl text-center text-white mb-3">Create yours for free</div>
  <a href="/auth/twitter" class="w-full sm:w-72 h-12 bg-white mx-auto rounded-2xl flex items-center px-4 text-black cursor-pointer">
    <svg class="w-5 fill-current text-primary-500 text-xl absolute" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class=""></path>
    </svg>
    <div class="w-full text-center font-bold">Login with Twitter</div>
  </a>
</div>