<div class="flex items-center justify-center py-5">
  <img src="/img/cats/catwhitatie.svg" alt="MrPan" onclick="window.location.href = '/'" class="cursor-pointer w-28">
</div>
<div class="bg-white rounded-2xl p-5 shadow-xl">
  <h2><strong>Privacy Policy</strong></h2>
  <ol>
    <li style="font-weight: 400;"><strong>Introduction</strong></li>
  </ol>
  <p><span style="font-weight: 400;">Thank you for visiting MrPan.me. Please read our Terms of Service and this Privacy Policy carefully as you must agree to both documents to have permission to use our Service.</span></p>
  <ol>
    <li style="font-weight: 400;"><strong>Definitions</strong></li>
  </ol>
  <p><span style="font-weight: 400;">Throughout this document, we may use certain words or phrases, and you must understand the meaning of them. The following is a non-exhaustive list of definitions of words and phrases found in this document: "MrPan.me" refers to our website; our Site; our Service; or a combination of all or some of the preceding definitions, depending on the context in which the word is used; "Service" refers to the services that we provide through our Site, including our customer insight services and our Site itself; "Site" refers to our website, www.MrPan.me; "User" refers to anyone who uses our Service, including general visitors to our Site; "You" refers to you, the person who is governed by this Privacy Policy. "Business partners" refer to business owners who use our paid services.</span></p>
  <ol>
    <li style="font-weight: 400;"><strong>Information we collect</strong></li>
  </ol>
  <p><span style="font-weight: 400;">We collect information from you when you register on our site, place an order, subscribe to our newsletter, or respond to a survey. You may be asked to enter your: name, email address, mailing address, phone number, or credit card information. You may, however, visit our site anonymously.</span></p>
  <p><span style="font-weight: 400;">When you register with Twitter we collect and save the name, username, email, avatar, and Twitter ID.</span></p>
  <p><span style="font-weight: 400;">When you log in we will read all your tweets to find most people you have engaged with to create infographics. For this, we save their name, username, and avatars. We do not save your tweets and engagement information.&nbsp;&nbsp;</span></p>
  <p>&nbsp;</p>
  <p><strong>Use of information we collect</strong></p>
  <p><span style="font-weight: 400;">Any of the information we collect from you may be used in one of the following ways:</span><span style="font-weight: 400;"><br /></span><em><span style="font-weight: 400;">To personalize your experience</span></em><span style="font-weight: 400;">: Your information helps us to better respond to your individual needs. We present the responses from your customers as well as the personal data you provide us when you access our service.</span><span style="font-weight: 400;"><br /></span><em><span style="font-weight: 400;">To improve our web/mobile apps</span></em><span style="font-weight: 400;">: We continually strive to improve our website offerings based on the information and feedback we receive from you.</span><span style="font-weight: 400;"><br /></span><em><span style="font-weight: 400;">To improve customer service</span></em><span style="font-weight: 400;">: Your information helps us to more effectively respond to your customer service requests and support needs.</span><span style="font-weight: 400;"><br /></span><em><span style="font-weight: 400;">To administer a contest, promotion, survey, or other site feature</span></em><span style="font-weight: 400;"> We may reach out from time to time with questions for you about your use of the product. We may also run contests which you may be eligible for which we will contact you about.</span></p>
  <ol>
    <li style="font-weight: 400;"><strong>Information protection</strong></li>
  </ol>
  <p><span style="font-weight: 400;">We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information conﬁdential.</span></p>
  <ol>
    <li style="font-weight: 400;"><strong>Third-Party Access to Your Information</strong><span style="font-weight: 400;">&nbsp;</span></li>
  </ol>
  <p><span style="font-weight: 400;">Although you are entering into an Agreement with MrPan.me to disclose your information to us, we do use third party individuals and organizations to assist us, including contractors, web hosts, and others.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">Throughout the provision of our Service to you, we may delegate our authority to collect, access, use, and disseminate your information. For example, our web host stores the information that you provide us, and we may hire outside contractors to perform maintenance or assist us in securing our website.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">It is, therefore, necessary that you grant the third parties we may use in the course of our business the same rights that you afford us under this Privacy Policy. For this reason, you hereby agree that for every authorization which you grant to us in this Privacy Policy, you also grant to any third party that we may hire, contract, or otherwise retain the services to operate, maintain, repairing, or otherwise improving or preserving our website or its underlying files or systems. You agree not to hold us liable for the actions of any of these third parties, even if we would normally be held vicariously liable for their actions, and that you must take legal action against them directly should they commit any tort or other actionable wrong against you. Without limiting the generality of the foregoing, you authorize us to collect, store, share, and otherwise use your information in conjunction with:</span></p>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Mixpanel</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Hotjar</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Google Analytics</span></li>
  </ul>
  <p><span style="font-weight: 400;">We do not sell, trade, or otherwise transfer to outside parties your personally identiﬁable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information conﬁdential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect our or others&rsquo; rights, property, or safety. However, non-personally identiﬁable visitor information may be provided to other parties for marketing, advertising, or other uses.</span></p>
  <ol>
    <li style="font-weight: 400;"><strong>Request Access and/or Deletion of Your Data</strong></li>
  </ol>
  <p><span style="font-weight: 400;">We retain data about you for as long as you have an open account with us. You can request information about the data we hold about you, and you can also request that we erase some or all of your data from our systems by contacting us through our support @mrpanmebot.</span></p>
  <ol>
    <li style="font-weight: 400;"><strong>Children's Online Privacy Protection Act</strong></li>
  </ol>
  <p><span style="font-weight: 400;">We comply with the requirements of COPPA (Children's Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products, and services are all directed to people who are at least 13 years old or older.</span></p>
  <ol>
    <li style="font-weight: 400;"><strong>Your consent&nbsp;</strong></li>
  </ol>
  <p><span style="font-weight: 400;">By using our site, you consent to our Privacy Policy.</span></p>
  <p><span style="font-weight: 400;">Should you have any questions about our privacy policy, you may contact us through our support bot:</span></p>
  <p><span style="font-weight: 400;">@mrpanmebot</span></p>
</div>